@use "../helpers/variables";

/* Start Slider */
.slider {
  blockquote {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Tahoma, Arial;
    }
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 80%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: variables.$grayColor;
      border-radius: 50%;
      border: 3px solid variables.$grayColor;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #fff;
        border: 3px solid #333;
      }
    }
  }
}
/* End Slider */

/* Start Services */
.services {
  .service-box {
    float: variables.$float-left;
    width: (100% / 3);
    &:not(:last-of-type) {
      padding-right: 20px;
    }
    .service-title {
      color: #666;
      i {
        font-size: 35px;
        position: relative;
        top: 4px;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.6;
    }
    .link {
      color: variables.$redColor;
      text-decoration: none;
    }
  }
}
/* End Services */
